{% extends 'base.html' %}
{% load static %}
{% load utils %}
{% block morecss %}
<link rel="stylesheet" href="{% static '/basketapp/css/style.css' %}">
{% endblock %}
{% block js %}
    <script src="{% static '/basketapp/js/scripts.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="hero-white">
		<div class="header clearfix">
			{% include 'includes/menu_inc.html' %}
		</div>
	</div>
	<div class="basket_container">
		<div class="h2 text-center head mt-5 mb-5">
	  		Ваша корзина,
		 	{% if user.first_name %}
			<strong>{{ user.first_name|title|default:'Пользователь'}}</strong>
		 	{% endif %}
		</div>
		{% if basket_items %}
		<div class="basket_list">
			{% include 'basketapp/includes/inc_basket_list.html' %}
		</div>
		<div class="basket-total d-flex justify-content-between">
            <a class="btn btn-round btn-outline-primary" href="{% url 'main' %}">на главную</a>
			{% if total %}
			<div class="basket_summary">
				В корзине <strong>{{ total.qty }}</strong> товаров общей стоимостью
				<strong>{{ total.sum|price_format }}</strong> руб
			</div>
			{% endif %}
		</div>
        <div class="clearfix mt-3"></div>
		<a class="btn btn-primary btn-round pull-right" href="{% url 'orders:order_create' %}">оформить заказ</a>
        <div class="clearfix pb-5"></div>
		{% else %}
		<p class="pt-5 pb-5">В корзине пусто. Пора приступить к <a href="{% url 'products:index'%}" title="Наполнить корзину">покупкам</a></p>
		{% endif %}
  	</div>
	<div class="clearfix mb-5">
{% endblock %}
