{% if products.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'products:page' category.pk|add:'0' products.previous_page_number %}">&larr;</a>
            </li>
        {% endif %}
            <li class="page-item active">
                <span class="page-link">
                страница {{ products.number }} из {{ products.paginator.num_pages }}
                </span>
            </li>
        {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'products:page' category.pk|add:'0' products.next_page_number %}">&rarr;</a>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endif %}
