{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
            <div class="card-body">
                <p>Уверены, что хотите удалить пользователя <strong>{{ user_title }}?</strong></p>
                <form action="{% url 'admin_staff:user_delete' object.pk %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="удалить"> /
                    <a class="btn btn-round btn-outline-primary" href="{% url 'admin_staff:users' %}">Отмена</a>
                </form>
            </div>
{% endblock %}
