{% extends 'adminapp/base.html' %}
{% load static %}
{% load utils %}

{% block content %}
<div class="card-body" style="width: 18rem;">
    <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        {% if object.description %}
        <p class="card-text">{{ object.description }}</p>
        {% endif %}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Активен:</strong> {% if object.is_active %}Да{% else %}Нет{% endif %}</li>
        <li class="list-group-item"><strong>Раздел:</strong> {{ object.category.name }}</li>
        <li class="list-group-item"><strong>Кол-во:</strong> {{ object.quantity }} шт.</li>
        <li class="list-group-item"><strong>Цена:</strong> {{ object.price|price_format }} руб.</li>
    </ul>
    <div class="card-body">
        <a href="{% url 'admin_staff:products' pk=object.category.pk %}" class="card-link">&larr; к списку</a>
    </div>
</div>
{% endblock %}
