{% if request.resolver_match.view_name == 'main' %}
<span href="{% url 'main' %}" class="logo"></span>
{% else %}
<a href="{% url 'main' %}" class="logo"></a>
{% endif %}
<ul class="menu">
    {% for item in menu_items %}
    <li><a {% if item.name == request.resolver_match.view_name %}class="active" {% endif %}href="{% url item.name %}">{{ item.title }}</a></li>
    {% endfor %}
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'auth:edit' %}">
            <i class="fa fa-user"></i>
            {{ user.first_name|default:'Пользователь' }}
        </a>
    </li>
    {% endif %}
    <li>
        {% if user.is_authenticated %}
          <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
          <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
    </li>
</ul>
<a href="#" class="search"></a>
<a href="{% url 'basket:view' %}" class="basket">
    <span>
        {% if basket and basket.qty != 0 %} {{ basket.qty }} шт.<br> {{ basket.sum|floatformat:'0' }}р.{% endif %}
    </span>
</a>
{% if user.is_superuser %}
<a href="{% url 'admin_staff:main' %}" target="_blank" class="admin_link">Админка</a>
{% endif %}