{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <br>
        <input class="form-control btn-primary" type="submit" value="зарегистрироваться">
    </form>
{% endblock %}
{% block modal_footer %}
    <div class="modal-footer">
        <button class="btn btn-round form-control">
            <a href="{% url 'auth:login' %}" class="">
                авторизоваться
            </a>
        </button>
    </div>
{% endblock %}