{% extends 'base.html' %}
{% load static %}
{% load utils %}
{% block morecss %}
<link rel="stylesheet" href="{% static '/products/css/style.css' %}">
{% endblock %}

{% block content %}
		<div class="hero-white">
			<div class="header clearfix">
				{% include 'includes/menu_inc.html' %}
			</div>
		</div>
        <div class="details">
            <div class="links clearfix">
                {% include 'products/includes/inc_categories_menu.html' %}
            </div>

            <div class="products_list">
                <div class="title clearfix">
                    <h2>Категория: "{{ category.name|title }}"</h2>
                </div>
                <div class="clearfix mb-5"></div>
            {% if products %}
                {% include 'products/includes/inc_pagination.html' %}
                <div class="clearfix mb-5"></div>
                <div class="category-products clearfix">
                    {% for product in products %}
                    <div class="block">
                        <a href="{% url 'products:product' product.pk %}" title="{{ product.name }}">
                            <img src="{{ product.image|media_folder_products }}" alt="{{ product.name }}">
							<div class="text">
								<img src="{% static '/geekshop/img/icon-hover.png' %}" alt="{{ product.name }}">
								<h3>{{ product.category.name }}</h3>
								<h4>{{ product.name }}</h4>
								{% if product.description %}
								<p>{{ product.description }}</p>
								{% endif %}
							</div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="clearfix mb-5"></div>
                {% include 'products/includes/inc_pagination.html' %}
                <div class="clearfix mb-5"></div>
            {% endif %}
            </div>
        </div>

        <div class="clr"></div>
{% endblock %}
